@using System.Web.Mvc.Html
@model Project_Management_Tool.Models.tb_ProjectTask
@{
	ViewBag.Title = "CreateTask";
}
<h2 align="center"><u><b>Add/Update Task</b></u></h2>
@{
	ViewBag.message = "";
}
@using (Html.BeginForm("CreateTask", "Home"))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.Label("Select Project", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.ProjectId, ViewBag.ProjectName as SelectList, "--Select Project Name--", new { @id = "ddlProjectId", @class = "form-control col-md-6 col-xs-6" })
				@Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.Label("Assign to", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<select name="userId" id ="ddlUserId" class = "form-control col-md-6 col-xs-6">
					</select>
				@*@Html.DropDownListFor(model => model.UserId, Enumerable.Empty<SelectListItem>(), new { @id = "ddlUserId", @class = "form-control col-md-6 col-xs-6" })*@
				@Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { id = "txtDueDate", @class = "date-picker form-control" } })
				@Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Priority, ViewBag.Priority as SelectList, "--Select Priroty--", new { id = "ddlPriroty", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-12">
				<div class="col-md-3">
					<div class="col-md-3">
						<input type="submit" value="Save" class="btn btn-primary">
					</div>
				</div>
			</div>
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
		//"date-picker" into a DatePicker element
		$(function () {
			$('.date-picker').datepicker();
		});
		$(document).ready(function () {
			$("#ddlProjectId").change(function () {
				$("#ddlUserId").empty();
				var projectId = $("#ddlProjectId").val();
				var jasonData = { projectId: projectId };
				$("#ddlUserId").append('<option value=0>Select Person</option>');

				$.ajax({
					url: '@Url.Action("GetTaskDropDownByProjectId", "Home")',
					dataType: "json",
					type: 'POST',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(jasonData), 
					success: function (data) {
						console.log(data);
						$.each(data, function(key, value) {
							$("#ddlUserId").append("<option value='" + value.ID + " '>" + value.Text + "</option>");
						});
					},
				});

               return false;
			});
		  return false;
        });
	</script>
}